<!DOCTYPE html>
<html>
  <head>
    <title>BeetleByte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <%# Google Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600;700&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
      .font-family-carla { font-family: karla !important; }
    </style>
    <%# Tailwind CSS %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-200 font-family-karla flex flex-col h-screen justify-between">
    <%= render 'shared/navbar' %>
    <div class="container mx-6">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
    <%= render "shared/footer" %>


    <%# Placed here to ensure that the page content is loaded before the JavaScript starts executing %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </body>
</html>
